body {
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #1e293b;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

button {
    background-color: #38bdf8;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0ea5e9;
}
